body > main {
  padding-bottom: 0;
}
article.hero {
  box-shadow: none;
  background-image: url("map.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 75%;
  padding-bottom: 55%;
  padding-top: 0;
}
@media (min-width: 768px) {
  article.hero {
    padding-top: 1rem;
    background-position: 95% center;
    background-size: 50%;
    padding-right: 55%;
    padding-bottom: 0;
  }
}
article.hero h2 {
  padding-top: 3rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: var(--pico-block-spacing-vertical);
  margin-bottom: var(--pico-block-spacing-vertical);
}
@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: left;
  }
}
article.testimonies {
  background-color: #F3F8FF;
  background-image: url("world.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-bottom: 0;
  box-shadow: none;
}
@media (min-width: 768px) {
  article.testimonies {
    flex-direction: row;
  }
}
article.testimonies aside {
  font-size: calc(var(--pico-font-size) * 2);
  margin-bottom: var(--pico-block-spacing-vertical);
}
@media (min-width: 768px) {
  article.testimonies aside {
    margin-right: 3rem;
  }
}
article.testimonies aside ul {
  padding-left: 0;
}
article.testimonies aside li {
  margin-bottom: calc(var(--pico-block-spacing-vertical) / 2);
  border-radius: 19px;
  border-bottom: 8px solid #FFF5C3;
  background: #FFE76B;
  color: #000;
  font-weight: bold;
}
@media (min-width: 768px) {
  article.testimonies aside li {
    white-space: nowrap;
    padding: 1rem;
  }
}
article.testimonies aside li:first-of-type {
  border-bottom: 8px solid #FF9CF4;
  background: #E700CD;
  color: #FFF;
}
article.testimonies aside li:last-of-type {
  border-bottom: 8px solid #000;
  background: #FFF;
}
article.testimonies aside span {
  font-size: 1rem;
}
article.testimonies blockquote {
  border: none;
  padding: 0;
}
article.testimonies blockquote p {
  margin: 0;
  margin-right: 1rem;
  font-style: italic;
}
article.philosophy {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  article.philosophy {
    flex-direction: row;
  }
}
article.philosophy > div {
  padding-top: calc(var(--pico-block-spacing-vertical) / 2);
}
article.philosophy aside {
  background: #294171;
  --pico-color: #fff;
  padding: calc(var(--pico-block-spacing-vertical) / 2) calc(var(--pico-block-spacing-horizontal) / 2);
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article.philosophy aside a {
  color: #42ECE6;
  text-decoration-color: #42ECE6;
}
article.philosophy aside span.title {
  text-transform: uppercase;
}
article.philosophy aside span.data {
  display: block;
  border-radius: 2px;
  border: 1px solid #E9E9E9;
  padding: 5px 10px;
  background: #FFF;
  color: #000;
  font-variant: initial;
}
article.usecases {
  background-color: #F3F8FF;
  padding-top: calc(var(--pico-block-spacing-vertical) / 2);
  padding-bottom: calc(var(--pico-block-spacing-vertical) / 2);
  margin-bottom: 0;
  box-shadow: none;
}
article.usecases div {
  padding: .5rem 1rem;
}

article.donate {
  box-shadow: none;
  background-image: url("path.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 75%;
  padding-bottom: 55%;
  padding-top: 0;
  margin: 0;
  margin-top: calc(var(--pico-block-spacing-vertical) / 2);
}
@media (min-width: 768px) {
  article.donate {
    padding-top: 1rem;
    background-position: left center;
    background-size: 45%;
    padding-left: 50%;
    padding-bottom: 0;
  }
}
article.donate h2 {
  padding-top: 3rem;
}
article.donate p.solo-button {
  text-align: center;
}
article.bakers {
  background-color: #F3F8FF;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: calc(var(--pico-block-spacing-vertical) / 2);
  box-shadow: none;
}
article.bakers div.grid {
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 3rem;
}
article.bakers a {
  display: block;
}
article.bakers a:after {
    content: '';
    display: none;
}

figure figcaption {
  color: var(--pico-color);
}
dialog h3 {
  margin-bottom: 0;
}
