<!DOCTYPE html><!-- This is a valid HTML5 document. -->
<!-- Screen readers, SEO, extensions and so on. -->
<html lang="{{ lang }}" data-theme="light">
  <!-- Has to be within the first 1024 bytes, hence before the <title>
  See: https://www.w3.org/TR/2012/CR-html5-20121217/document-metadata.html#charset -->
  <meta charset="utf-8" />
  <!-- Why no `X-UA-Compatible` meta: https://stackoverflow.com/a/6771584 -->
  <!-- The viewport meta is quite crowded and we are responsible for that.
  See: https://codepen.io/tigt/post/meta-viewport-for-2015 -->
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <!-- Prevent access via referrers, only the domain will be available. -->
  <meta content="origin-when-cross-origin" name="referrer" />
  <!-- Required to make a valid HTML5 document. -->
  <title>uMap project</title>
  <!-- Lightest blank gif, avoids an extra query to the server. -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ base_url }}blog/feed.atom">
  <link rel="stylesheet" href="{{ base_url }}static/vendors/picocss-pico.2.0.0-alpha1.css" />
  <link rel="stylesheet" href="{{ base_url }}static/fonts.css" />
  <style>
    :root:not([data-theme="dark"]) {
      --pico-font-family: "fira_sans";
      --pico-primary-background: #263B58;
      --pico-primary-hover-background: #373C43;
      --pico-secondary-background: #B9F5D2;
      --pico-secondary-hover-background: #86DDAA;
      --pico-secondary-inverse: #212A3A;
      --pico-primary-hover: #263B58;
      --pico-primary-hover-underline: #263B58;
      --pico-color: #263B58;
      --pico-primary: #263B58;
      --pico-h2-color: #263B58;
    }
    body {
      /* Until we understand why fira_sans font does not handle this. */
      font-variant-ligatures: no-common-ligatures;
    }
    h1 a {
      background-image: url("{{ base_url }}static/logo.svg");
      background-position: var(--pico-nav-element-spacing-horizontal) center;
      background-repeat: no-repeat;
      background-size: 60px auto;
      line-height: 70px;
      padding-left: 80px;
      display: block;
      font-size: var(--pico-font-size);
      color: #3A4259;
    }
    h2 {
      --pico-font-size: 2rem;
    }
    h2.smaller {
      --pico-font-size: 1.6rem;
    }
    h2, h3 {
      font-family: "droid_serif";
    }
    a {
      text-decoration-thickness: 3px;
    }
    a[href]:not(:where(
      /* exclude hash only links */
      [href^="#"],
      /* exclude relative but not double slash only links */
      [href^="/"]:not([href^="//"]),
      /* domains to exclude */
      [href*="//umap-project.org"]
    )):after {
      content: url("{{ base_url }}static/fi_external-link.svg");
      padding-left: 3px;
      padding-top: 3px;
      display: inline-block;
    }
    a[href]:not(:where(
      /* exclude hash only links */
      [href^="#"],
      /* exclude relative but not double slash only links */
      [href^="/"]:not([href^="//"]),
      /* domains to exclude */
      [href*="//umap-project.org"],
      .secondary,
      main nav a,
      .philosophy div a
    )):after {
      content: url("{{ base_url }}static/fi_external-link-white.svg");
    }
    aside a[href]:not(:where(
      /* exclude hash only links */
      [href^="#"],
      /* exclude relative but not double slash only links */
      [href^="/"]:not([href^="//"]),
      /* domains to exclude */
      [href*="//umap-project.org"]
    )):after {
      content: url("{{ base_url }}static/fi_external-link-lightblue.svg") !important;
    }
    .container {
      padding-top: 0;
    }
    main > nav ul:last-of-type {
      flex-direction: column;
    }
    @media (min-width: 768px) {
      main > nav ul:last-of-type {
        flex-direction: row;
      }
    }

    main > nav li a {
      text-decoration-thickness: 3px;
      text-underline-offset: 7px;
    }
    main > nav li :where(a[aria-current="page"]):not(:hover) {
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }
    body > footer {
      background-color: #263B58;
      padding-top: calc(var(--pico-block-spacing-vertical) / 3);
      padding-bottom: calc(var(--pico-block-spacing-vertical) / 3);
    }
    body > footer h2 {
      font-family: "fira_sans";
      background-image: url("{{ base_url }}static/logo_white.svg");
      background-position: var(--pico-nav-element-spacing-horizontal) center;
      background-repeat: no-repeat;
      background-size: 60px auto;
      line-height: 70px;
      padding-left: 80px;
    }
    body > footer h2,
    body > footer h3,
    body > footer a {
      --pico-color: #fff !important;
    }
    body > footer a {
      text-decoration-color: #fff;
    }
    body > footer h3 {
      margin-left: 80px;
      font-family: 'droid_serif' !important;
      margin-top: -1rem;
    }
    @media (max-width: 576px) {
      nav {
        flex-direction: column;
      }
    }

    button,
    [role="button"] {
      padding: calc(var(--pico-form-element-spacing-vertical) / 2) var(--pico-form-element-spacing-horizontal);
    }

  </style>
  {% block extra_head %}{% endblock extra_head %}
  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <h1>
              <a href="{{ base_url }}">uMap</a>
            </h1>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{{ base_url }}"
               {% if nav_selected == "home" %}aria-current="page"{% endif %}>English</a>
          </li>
          <li>
            <a href="{{ base_url }}fr/"
               {% if nav_selected == "accueil" %}aria-current="page"{% endif %}>Français</a>
          </li>
          <li>
            <a href="{{ base_url }}blog/" hreflang="en"
               {% if nav_selected == "blog" %}aria-current="page"{% endif %}>Blog (en)</a>
          </li>
          <li>
            <a href="https://docs.framasoft.org/fr/umap/">Documentation</a>
          </li>
          <li>
            <a href="https://forum.openstreetmap.fr/c/utiliser/umap/29">Forum</a>
          </li>
          <li>
            <a href="https://github.com/umap-project/umap/">GitHub</a>
          </li>
        </ul>
      </nav>
      {% block content %}
      {% endblock content %}

    </main>
    <footer>
      <div class="container">
        <nav>
          <hgroup>
            <h2>uMap</h2>
            <h3>Les cartes en commun[s]</h3>
          </hgroup>
          <ul>
            <li><a href="https://github.com/umap-project/umap/blob/master/LICENSE"><small>Licence WTFPL</small></a></li>
            <li><a href="https://gitlab.com/umap-project/umap-project.org/"><small>Source de cette page</small></a></li>
          </ul>
        </nav>
      </div>
    </footer>
    {% block extra_body %}{% endblock extra_body %}
  </body>
</html>
