{% extends "base.html" %}

{% block extra_head %}
  <style type="text/css">
    .content {
      max-width: 70ch;
      margin: 0 auto;
      --pico-block-spacing-vertical: var(--pico-spacing);
    }
    .content a {
      padding-left: 0;
      padding-top: 0;
    }
    .content a::after {
      content: "";
    }
    .content details ul {
      margin-left: 1rem;
    }
    .content > * + * {
      margin-block-start: 2rem;
    }
  </style>
{% endblock extra_head %}

{% block content %}
  <div class="content">
    <aside>
      <details>
        <summary role="button">Quick access</summary>
        <nav>
          <ul>
            {% for blogpost in blogposts %}
              <li><a href="{{ base_url }}{{ blogpost.url }}">{{ blogpost.title }} ({{ blogpost.short_date }})</a></li>
            {% endfor %}
          </ul>
        </nav>
      </details>
    </aside>
    {% for blogpost in blogposts %}
      <article>
        <header>
          <hgroup>
            <h2>
              <a href="{{ base_url }}{{ blogpost.url }}">{{ blogpost.title }}</a>
            </h2>
            <p>{{ blogpost.short_date }}</p>
          </hgroup>
        </header>
        <div>{{ blogpost.item }}</div>
        <footer>
          <a href="{{ blogpost.source }}">Source</a>
        </footer>
      </article>
    {% endfor %}
  </div>
{% endblock content %}
