{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ base_url }}static/home.css">
{% endblock extra_head %}

{% block content %}
  <div class="content">
    <article class="hero">
      <h2>Créer une carte en ligne n’a jamais été aussi simple</h2>
      <p>uMap vous offre la possibilité de concevoir rapidement des cartes personnalisées avec des fonds OpenStreetMap (OSM) et de les intégrer facilement à votre site.</p>
      <div class="buttons">
        <button onclick="this.closest('article').querySelector('dialog').setAttribute('open', '')">🗺️ Créer une carte</button>
        <a href="https://github.com/umap-project/umap/" role="button" class="secondary">Voir le code</a>
      </div>
      <dialog>
        <article>
          <header>
            <a href="#" aria-label="Close" class="close" onclick="this.closest('dialog').removeAttribute('open')"></a>
            <h3>Choisir une instance</h3>
          </header>
          <p>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Feather Icons/fi:map-pin" clip-path="url(#clip0_1113_61)">
                <path id="Vector" d="M17.5014 8.33402C17.5014 14.1678 10.0008 19.1683 10.0008 19.1683C10.0008 19.1683 2.50012 14.1678 2.50012 8.33402C2.50012 6.34472 3.29037 4.4369 4.69701 3.03026C6.10365 1.62362 8.01147 0.833374 10.0008 0.833374C11.9901 0.833374 13.8979 1.62362 15.3045 3.03026C16.7112 4.4369 17.5014 6.34472 17.5014 8.33402Z" stroke="#263B58" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round"/>
                <path id="Vector_2" d="M10.0009 10.8347C11.3819 10.8347 12.5014 9.7152 12.5014 8.33421C12.5014 6.95322 11.3819 5.83371 10.0009 5.83371C8.61988 5.83371 7.50037 6.95322 7.50037 8.33421C7.50037 9.7152 8.61988 10.8347 10.0009 10.8347Z" stroke="#263B58" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1113_61">
                  <rect width="20.0017" height="20.0017" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            Créer une carte :
          </p>
          <ul>
            <li><a href="https://umap.openstreetmap.fr/map/new/">sur uMap France</a> <small>serveur OpenStreetMap</small></li>
            <li><a href="https://umap.incubateur.anct.gouv.fr/map/new/">sur uMap Fonction publique</a> <small>serveur gouvernemental</small></li>
            <li><a href="https://framacarte.org/map/new/">sur uMap FramaCarte</a> <small>serveur Framasoft</small></li>
          </ul>
          <footer>
            <button onclick="this.closest('dialog').removeAttribute('open')">Fermer la fenêtre</button>
          </footer>
        </article>
      </dialog>
    </article>
  </div>
  <div class="content">
    <article class="testimonies">
      <aside>
        <ul>
          <li><users-count>100 000+</users-count> <span>comptes utilisateurs</span></li>
          <li><maps-count>1 000 000+</maps-count> <span>cartes créées</span></li>
          <li><maps-active-count>6 000+</maps-active-count> <span>cartes éditées par semaine</span></li>
        </ul>
      </aside>
      <div>
        <h2>Ce qu’en disent les utilisateurs</h2>
        <div class="grid">
          <blockquote>
            <p>“Un outil à mettre dans toutes les mains, beaucoup de fonctionnalités, il va loin avec souplesse. Un superbe outil.”</p>
          </blockquote>
          <blockquote>
            <p>“In fine, uMap se révèle être un outil facile à prendre en main, réactif et ne nécessitant aucun compte. Il permet notamment un travail collaboratif intéressant avec les élèves.”</p>
          </blockquote>
        </div>
        <div class="grid">
          <blockquote>
            <p>“Merci d’avoir créé l’outil ! Ca m’est super utile et très simple d’utilisation :)”</p>
          </blockquote>
          <blockquote>
            <p>“Avec uMap pas besoin de coder, tu crées ta carte interactive grâce a une interface graphique.”</p>
          </blockquote>
        </div>
      </div>
    </article>
  </div>
  <div class="content">
    <article class="philosophy">
      <div>
        <h2>uMap est un outil libre et gratuit soutenu par une communauté de contributeurs</h2>
        <ul>
          <li>Code ouvert et libre depuis le premier jour</li>
          <li><a href="https://peertube.openstreetmap.fr/w/wfi9b4BE1ztiNM5GUAbqRc">10 années</a> d’améliorations diverses sur le produit</li>
          <li><a href="https://github.com/umap-project/umap/graphs/contributors">46 contributeurs</a> ont déjà participé au développement</li>
          <li>Plus de <a href="https://github.com/umap-project/umap/issues">1 000 issues</a> déjà discutées</li>
          <li>Une <a href="https://hub.docker.com/r/umap/umap">image Docker</a> maintenue à jour</li>
          <li>Une <a href="https://forum.openstreetmap.fr/c/utiliser/umap/29">communauté</a> très active</li>
          <li>Une philosophie de code minimaliste et pérenne</li>
        </ul>
        <div class="buttons">
          <a href="https://github.com/umap-project/umap/" role="button">Voir le code</a>
          <a href="https://docs.umap-project.org" role="button" class="secondary">Voir la documentation technique</a>
        </div>
      </div>
      <aside>
        <ul>
          <li>
            <span class="title">Dernière release</span>
            <span class="data">
              <last-release>1.11.1 - 2023-11-27</last-release>
            </span>
            <a href="https://github.com/umap-project/umap/releases">Accéder au changelog</a>
          </li>
          <li>
            <span class="title">Dernier commit</span>
            <span class="data">
              <last-commit>2023-11-27</last-commit>
            </span>
            <a href="https://github.com/umap-project/umap/commits/master">Historique des commits</a>
          </li>
          <li>
            <span class="title">Étoiles GitHub</span>
            <span class="data">
              <stargazers-count>900</stargazers-count> ⭐️
            </span>
            <a href="https://github.com/umap-project/umap/">Ajouter la vôtre ✨</a>
          </li>
        </ul>
      </aside>
    </article>
  </div>
  <div class="content">
    <article class="usecases">
      <h2>Une diversité de cas d’usage</h2>
      <div class="grid">
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-lignes-polygones-panneaux-solaires.jpg" alt="Extrait de carte uMap">
            <figcaption>Dessin de <strong>lignes</strong> et <strong>polygones</strong>. Une fonctionnalité simple pour définir les toitures où potentiellement placer des panneaux solaires.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-reseaux-transports.jpg" alt="Extrait de carte uMap">
            <figcaption>Import de <strong>couches d’informations métiers</strong>, ici les réseaux de transports sur un site grand public.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-plan-prevention-risques.jpg" alt="Extrait de carte uMap">
            <figcaption>L’import de données et le <strong>dessin sur un fond de carte</strong> allégé facilitent la lecture du Plan de Prévention des Risques.</figcaption>
          </figure>
        </div>
      </div>
      <div class="grid">
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-heatmap-densite-brasseries.jpg" alt="Extrait de carte uMap">
            <figcaption>Une carte de chaleur “heatmap” pour représenter les densités, ici les brasseries dans un quartier.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-clusters.jpg" alt="Extrait de carte uMap">
            <figcaption>Les informations sont trop nombreuses ? La <strong>fonction de “cluster”</strong> permet de les afficher au fur et à mesure du zoom.</figcaption>
          </figure>
        </div>
        <div>
          <figure>
            <img src="{{ base_url }}static/thumbnails/umap-diaporama.jpg" alt="Extrait de carte uMap">
            <figcaption><strong>Raconter un paysage</strong> en insérant des images, des textes, sons, films et en activant la <strong>fonction diaporama</strong>.</figcaption>
          </figure>
        </div>
      </div>
    </article>
  </div>
  <div class="content">
    <article class="donate">
      <h2>Soutenez le développement de uMap</h2>
      <p>uMap est un outil open-source et gratuit soutenu par une communauté d’utilisateurs, de développeurs et de sponsors.</p>
      <p class="buttons">
        <a href="https://opencollective.com/umap" role="button">Donner via OpenCollective</a>
        <a href="https://liberapay.com/uMap" role="button">Donner via LiberaPay</a>
      </p>
      <p class="solo-button">
        Stages ? Mécénat de compétences ? Envie de nous soutenir ?
        <a href="mailto:contact%40umap-project.org" role="button" class="secondary"
          >Contactez-nous !</a>
      </p>
    </article>
  </div>
  <div class="content">
    <article class="bakers">
      <h2>Ils soutiennent uMap</h2>
      <div class="grid">
        <a href="https://www.openstreetmap.fr/">
          <img src="{{ base_url }}static/partners/logo_osm.png" alt="Logo OSM">
        </a>
        <a href="https://agence-cohesion-territoires.gouv.fr/">
          <img src="{{ base_url }}static/partners/logo_anct.svg" alt="Logo ANCT">
        </a>
        <a href="https://citoyens.transformation.gouv.fr/">
          <img src="{{ base_url }}static/partners/logo_aic.png" alt="Logo AIC">
        </a>
        <a href="https://nlnet.nl/">
          <img src="{{ base_url }}static/partners/logo_nlnet.svg" alt="Logo NLnet">
        </a>
        <a href="http://scopyleft.fr/">
          <img src="{{ base_url }}static/partners/logo_scopyleft.svg" alt="Logo Scopyleft" width="100px">
        </a>
      </div>
    </article>
  </div>
{% endblock content %}

{% block extra_body %}
  <script src="{{ base_url }}static/web-components.js"></script>
{% endblock extra_body %}
